
#flotante2{
    position: fixed;
    top: 250px;
    right: 0px;
    cursor:pointer;
}
#flotante2:after{
    display: none;
    content: 'F';
    transition: all ease 3s;
}
#flotante2:hover:after{
    transition: all ease 3s;
    font-size: 32px;
    vertical-align: 50%;
    display: initial;
    padding:10px;
}


#flotante1{
    position: fixed;
    top: 210px;
    right: 0px;
    cursor:pointer;
}
#flotante1:after{
    display: none;
    content: 'T';
    transition: all ease 3s;
}
#flotante1:hover:after{
    transition: all ease 3s;
    font-size: 32px;
    vertical-align: 50%;
    display: initial;
    padding:10px;
}

#flotante3{
    position: fixed;
    top: 170px;
    right: 0px;
    cursor:pointer;
}
#flotante3:after{
    display: none;
    content: 'Y';
    transition: all ease 3s;
}
#flotante3:hover:after{
    transition: all ease 3s;
    font-size: 32px;
    vertical-align: 50%;
    display: initial;
    padding:10px;
}

#flotante4{
    position: fixed;
    top: 130px;
    right: 0px;
    cursor:pointer;
}
#flotante4:after{
    display: none;
    content: 'I';
    transition: all ease 3s;
}
#flotante4:hover:after{
    transition: all ease 3s;
    font-size: 32px;
    vertical-align: 50%;
    display: initial;
    padding:10px;
}
