* {
	padding: 0;
	margin: 0;
	text-align: center;
}

form {
	padding: 50px 20px;
	background-color: #70ee3fa6;
	margin: calc(25% + 100px);
	margin-top: 70px;
	padding-top: 28px;
	margin-bottom: 30px
}

h1 {
	text-align: center;
	padding: 12px;
	color: rgb(30, 9, 155)
}
 footer {
  background:#46f024;
  opacity: 90%;
}

input {
	width: calc(100% - 20px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px
}

input[type='submit']{
	background-color: rgb(24, 73, 148);
	color: rgb(219, 213, 213);
	width: calc(80% - 20px);
	margin: 0 10%;
	margin-top: 22px;
	border: none;
	
}


body{
	/* Location of the image */
background-image: url(..//img/fondoo.jpg);

/* Background image is centered vertically and horizontally at all times */
background-position: center center;

/* Background image doesn’t tile */
background-repeat: no-repeat;

/* Background image is fixed in the viewport so that it doesn’t move when
the content’s height is greater than the image’s height */
background-attachment: fixed;

/* This is what makes the background image rescale based
on the container’s size */
background-size: cover;

/* Set a background color that will be displayed
while the background image is loading */
background-color: #464646;
	
}
.alert-danger {
    background-color: red;
}

.alert-danger span{ 
	color: yellow; 
}
.alert-success {
    background-color: green;
}
main {
    height: auto;
}

header{
    width: 100%;
    color: rgb(10, 121, 78);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    background-color: #46f024;
    opacity: 50%;
}
header h1{
	text-align: 
    margin-left: 5px;
	color: rgb(10, 121, 78);
    align-items: center;
    width: calc(20% - 100px);
    font-family: montez;
    font-size: 55px;
}

.login-box{
	background-image:url(..//img/log0.jpg);
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

a{
    margin-right: 30px;
    text-align: center;
    text-decoration: none;
    color: rgb(53, 12, 150);
    font-size: 25px;
    transition: all ease 300ms;
}
