nav{ background-color: #46f024;

}
#intro .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    background-color: #46f024;
    position: absolute;
    top: 0;
}
nav .btn{
  border-radius: 10;
  color: #21e261;}
#menu{
  background-color: #46f024: 
}

a .navbar .nav-item .nav-link {
  color: rgb(62, 182, 26);
}

.logo{
  width: 50%;
  border-radius: 100%;
}


.main-header {
  position: relative;
  background: url(../img/fondo.jpeg);
  background-size: cover;
  min-height: 100%;
}

.background-overlay {
  background: rgba(48, 107, 56, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#producto{ 
  opacity: 1%;
}

.form-control, .btn{
  border-radius: 10;
  color: #141414;
}
#equipo div .card{
  background-color: black;
  color: white;

}

h2{
  text-align: center;
}

.team, footer {
  background:#46f024;
}

i{
  font-size: 30px;}


/* ===========================
--- Intro - home video
============================ */
.morphext > span {
  display: none;
}

.morphext > .animated {
    display: inline-block;
}

#intro.home-video { 
  position: relative; 
  margin: 0 auto; 
  text-align: center;
  height: 0;
  padding-top: 20%;
  padding-bottom: 30%;
  position: relative;
  overflow: hidden;
  
}
#intro.home-video .homevideo-container { height: 100%; width: 100%; position: absolute; z-index: 1; background-size: cover; }

#intro.home-video .overlay { 
  position: relative; 
  height: 100%; 
  z-index: 2; 
  padding: 20% 0;

}

#intro.home-video .home-video-wrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.bs-video {
  height: 0;
  padding-top: 25px;
  padding-bottom: 67.5%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}
 
.bs-video.widescreen {
  padding-bottom: 57.25%;
}
 
.bs-video.vimeo {
  padding-top: 0;
}

.bs-video embed, .bs-video iframe, .bs-video object, .bs-video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.video-caption h1 {
  text-transform: none;
}

 